<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.chicagoroboto">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:name=".DevconApp">

        <activity android:name=".features.main.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>

        <activity android:name=".features.sessiondetail.SessionDetailActivity" />
        <activity android:name=".features.speakerdetail.SpeakerDetailActivity" />

        <receiver
            android:name=".notifications.NotificationPublisher"
            android:exported="false"/>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBkzDCz4N_AWbrywq6KUrek5DH86zfQvaE" />

      <meta-data android:name="firebase_analytics_collection_enabled" android:value="false" />

    </application>

</manifest>
