/*.Header {
}

.Header-logo {
  height: 36px;
  position: relative;
}

.Header h3 {
  font-size: 1.5em;
  margin: 0;
}

.mdl-grid {
  margin: auto;
}

.mdl-layout__header-row {
  padding: 0;
  margin: 0 auto;
}

.mdl-layout__header-row span {
  margin-left: 15px;
  margin-top: 17px;
}*/

.mdl-layout__header-row {
  padding: 0 40px;
}

.mdl-layout-logo {
  height: 36px;
  position: relative;
  margin-right: 16px;
}

#user-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
#user-container #user-pic {
  background-image: url('/images/user.jpg');
  background-repeat: no-repeat;
  width: 40px;
  height: 40px;
  background-size: 40px;
  border-radius: 20px;
}
#user-container #user-name {
  line-height: 40px;
  font-size: 16px;
  padding-right: 10px;
  padding-left: 20px;
}

#user-container #sign-out {
  line-height: 40px;
}

@media screen and (max-width: 610px) {
  header {
    height: 113px;
    padding-bottom: 80px !important;
  }
  #user-container {
    top: 72px;
    background-color: rgb(3,155,229);
    height: 38px;
    padding-top: 3px;
    padding-right: 2px;
  }
  #user-container #user-pic {
    top: 2px;
    width: 33px;
    height: 33px;
    background-size: 33px;
  }
}
